<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Monstro</title>
    <!-- #TODO Unir e enviar somente um arquivo CSS -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./estilo-monstro.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="jogo-monstro">
        <h1>Desafio do Monstro</h1>
        <div id="start-menu" v-if="!iniciado && !terminado">
            <br>
            <div class="caixa">
                <h2>Bem vindo!</h2>
                <button @click="iniciar">Iniciar Desafio</button>
            </div>
            <br>
        </div>
        <div id="personagens" v-if="iniciado && !terminado">
            <section id="aliados">
                <div v-for="aliado in aventureiros" class="grupo caixa">
                    <h2>{{aliado.classe}}</h2>
                    <hr>
                    <p class="barra" :class="{'vazia': aliado.vida / personagens[aliado.classe].vida <= .4 }"
                        :style="{'margin': atualizarVidaAventureiros(aliado.classe)}"></p>
                    <p>{{aliado.vida}}</p>
                </div>
            </section>
            <section id="inimigos">
                <div v-for="inimigo in monstros" class="grupo caixa">
                    <h2>{{inimigo.classe}}</h2>
                    <hr>
                    <p class="barra" :class="{'vazia': inimigo.vida / personagens[inimigo.classe].vida <= .4 }"
                        :style="{'margin': atualizarVidaMonstros(inimigo.classe)}"></p>
                    <p>{{inimigo.vida}}</p>
                </div>
            </section>
        </div>
        <div id="acoes" class="caixa" v-if="iniciado && !terminado">
            <section class="acaoPersonagem" v-for="aliado in aventureiros">
                <h2>{{aliado.classe}}</h2>
                <div class="habilidades">
                    <button v-for="habilidade in aliado.habilidades"
                        @click="acoesAventureiros(habilidade,aliado.classe)" v-if="checarHabilidade(habilidade)"
                        :class="aventureiros[aliado.classe].acao.nome === habilidade.nome ? '' : habilidade.tipo">
                        {{habilidade.nome}}
                    </button>
                </div>
                <hr>
            </section>
            <button id="iniciarTurno" :class="{'preparando':!preparar} " @click="lutar">{{botaoIniciar}}</button>
            <button class='desistir' @click="desistir">Desistir!</button>
        </div>
        <div id="finish-menu" v-if="terminado">
            <section>
                <h2 :class="resultado.localeCompare('Derrota') === 0 ? 'derrota' : 'vitoria'">{{resultado}}!</h2>
                <button @click="reiniciar">Reiniciar desafio</button>
            </section>
        </div>
        <div id="log-jogo" class="caixa" v-if="iniciado">
            <br>
            <div v-for="(turnos, index) in log">
                <h2>Turno {{index}}</h2>
                <p v-for="acontecimento in turnos" :class="acontecimento.tipo">{{acontecimento.texto}}</p>
            </div>
            <br>
        </div>
    </div>
    <script src="../lodash.js"></script>

    <script src="./code-monstro.js"></script>
</body>

</html>